<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <script src="https://cdn.tailwindcss.com"></script> 
 {% assign base_url = site.baseurl | default: "" %}
 {% include head_content.html base_url=base_url %}     
</head>
<body>


    <!-- Navigation -->
{% include navigation.html %} 

<main id="main-view" class="transition-opacity duration-500">
<div class="max-w-4xl mx-auto py-20 px-6">
<h1 class="text-4xl serif mb-12 text-center">
  {% if page.type == "recipes" %}
    Browse Recipes - {{ page.count }} recipes
  {% elsif page.type == "category" %}
    All Recipe Categories
  {% else %}
    {{ page.title | capitalize }} {{ page.type | capitalize }} Recipes
  {% endif %} - {{ page.type | capitalize }}
</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8">
    {% for recipe in page.paginated_recipes %}
      <a href="{{ recipe.permalink | relative_url }}" class="border-b border-stone-100 pb-4 group flex justify-between items-baseline">
        <span class="serif text-xl text-stone-800 group-hover:text-stone-500 transition-colors">{{ recipe.title }}</span>
        <span class="uppercase tracking-widest text-[9px] text-stone-400">View &rarr;</span>
      </a>
    {% endfor %}
  </div>

  <nav class="mt-20 flex justify-center items-center gap-8 border-t border-stone-200 pt-8">
    {% if page.pagination.prev_page %}
      <a href="{{ page.pagination.base_url | relative_url }}{% if page.pagination.prev_page > 1 %}{{ page.pagination.prev_page }}/{% endif %}" class="uppercase tracking-widest text-[10px] font-bold text-stone-400">&larr; Newer</a>
    {% endif %}

    <span class="text-stone-400 text-xs italic">Page {{ page.pagination.current_page }} of {{ page.pagination.total_pages }}</span>

    {% if page.pagination.next_page %}
      <a href="{{ page.pagination.base_url  | relative_url }}{{ page.pagination.next_page }}/" class="uppercase tracking-widest text-[10px] font-bold text-stone-400">Older &rarr;</a>
    {% endif %}
  </nav>
</div>

</main>


<!-- Footer -->
{% include footer.html %}  
</body>
</html>
